@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1325px) {
  .section-container {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1300px) {
  #experience {
    margin-top: 5rem;
    padding-top: 0;
  }
}

@media screen and (max-width: 1225px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
}

@media screen and (max-width: 900px) {
  .icon-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 3rem;
  }

  .icon-grid i {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    font-size: 1.5rem;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .title {
    font-size: 2rem;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  #about {
    margin-top: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  footer nav {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 2rem 0;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0;
    text-align: center;
  }

  footer .nav-links a {
    font-size: 0.875rem;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
}
